<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Task</title>
	
	<link rel="stylesheet" href="build/css/styles.css" />
	<script src="build/js/scripts_top.js"></script>
	
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

</head>
<body>
    <div class="container" ng-app="myApp" >
		<div ng-controller="formCtrl">
			<div ng-if="error.length > 0" class="alert alert-danger">
				<strong>Error!</strong> {{error}}
			</div>
			<form role="form">
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<label for="text">{{text_label}}</label>
						<input id="text" ng-model="text" type="text" class="form-control" autofocus/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<label for="experience">{{experience_label}}</label>
						<select ng-model="experience" class="form-control" ng-change="update()">
							<option ng-repeat="x in experiencies" value="{{x.id}}">{{x.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<label for="employment">{{employment_label}}</label>
						<select ng-model="employment" class="form-control" ng-change="update()">
							<option ng-repeat="x in employments" value="{{x.id}}">{{x.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<label for="schedule">{{schedule_label}}</label>
						<select ng-model="schedule" class="form-control" ng-change="update()">
							<option ng-repeat="x in schedules" value="{{x.id}}">{{x.name}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<label for="salary">{{salary_label}}</label>
						<input id="salary" ng-model="salary" class="form-control" type="text" />
					</div>
					<div class="form-group col-xs-3 col-md-2">
						<label for="currency">{{currency_label}}</label>
						<select ng-model="currency" class="form-control" ng-change="update()">
							<option ng-repeat="x in currencies" value="{{x.code}}">{{x.code}}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6 col-md-3">
						<button type="button" ng-click="update()" class="btn btn-success form-control">Search</button >
					</div>
				</div>
			</form>
		<div>
		<div id="map_display"></div>
        
    </div>

<script src="build/js/scripts_bottom.min.js"></script>
    
</body>
</html>


